<% layout('../layouts/boilerplate') %>

<!-- header -->
<h1 class="display-4 mt-5 mb-2 text-secondary"> ALL EQUIPMENTS</h1>

<!-- btn -->
<% if(username === 'agasthyasunil@gmail.com' || username === 'yohanswamy@gmail.com') {%> 
    <div class="d-flex justify-content-end">
        <button class="btn btn-warning"><a style="text-decoration: none; color: black;" href="/equipment/new">ADD EQUIPMENT</a></button>
    </div>
<% } %> 

<!-- contents -->
<div class="row">
   <% for(let i=0; i<equipements.length; i++) { %> 
        <div class="col-4">
            <div class="card shadow border border-success my-3 fs-5 d-flex justify-between">
                <img src="<%= equipements[i].eimg %> " class="card-img-top my-3 mx-4" alt= "." style="width: 350px; height: 400px;">
                    <div class="card-body">
                        <h4 class="card-title fs-1"><%= equipements[i].ename %> </h4>
                        <span class="text-muted my-2">Model no: <%= equipements[i].emodel %> </span> 
                        <p class="card-text my-2">Category: <%= equipements[i].ecatname %> </p>
                        <p class="card-text my-2">Price: $<%= equipements[i].eprice %> </p>
                        <a href="equipment/<%= equipements[i].eid %> " class="btn btn-primary text-light mt-5">View Product</a>
                    </div>
            </div>
        </div>
    <% } %> 
</div>